#home-page{
  .filter{
        width: 100vw;
        margin: auto;
        padding: 10px 0px;
        background-color: #f0efef;
        .dp-flex{
            padding: 7px 0px !important;
            justify-content: space-between;
            > select{
                padding: 7px;
                border-radius: 5px;
            }
        }
    }
    .filter > *{
        width: 90vw;
        padding: 7px;
        margin: 10px auto;
        border-radius: 5px;
        display: flex;
    }
    .search-item:not(:first-child)::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e1dddd;
    }
    
    .search-item{
        width: 100vw;
        height: 110px;
        display: flex;
        position: relative;
        .image-wrapper{
            height: 100%;
            width: 36%;
            padding: 5px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .content-wrapper {
            position: relative;
            padding: 5px;
            .content-title{
                font-size: .9rem;
                font-weight: bold;
            }
            .content-bottom{
                position: absolute;
                bottom: 5px;
                .content-price {
                    color: #c52020;
                    font-size: .9rem;
                    font-weight: bold;
                    padding-bottom: 10px;
                }
                .content-description {
                    font-size: .8rem;
                    span{
                        position: relative;
                        padding-right: 5px;
                        color:#5b4e4e;
                    }
                    span:not(:first-child)::before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        top: 0px;
                        left: -5px;
                        width: 1px;
                        height: 100%;
                        background-color: #5b4e4e;
                    }
                }
            }
        }
        
    }
}